/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Lista Nuevos Ganados
      %small
        %li Home
        %li /
        %li Consolidación
        %li /
        %li Lista Nuevos Ganados
  / Page title end

  .row
    .col-md-12
      .widget
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title 
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Filtro
              .widget-body
                %form#form_ganados.form-horizontal{name: "form_ganados", method: "post"}
                  .form-group
                    %br
                    %label.col-lg-2.control-label{for: "servicio"} Del
                    .col-lg-10
                      .row
                        .col-lg-5.col-sm-5
                          %div#datepicker.input-daterange.input-group
                            %input#inicio.form-control{name: "inicio", type: "text"}
                            %span.input-group-addon 
                              al
                            %input#fin.form-control{name: "fin", type: "text"}
                        .col-lg-2.col-sm-2
                          %button#btnGenerar_ganados.btn.btn-success{type: "button", name: "btnGenerar_ganados"} 
                            Generar
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Lista Nuevos Ganados - Sin Pertenecen a Ningun Grupo
            .widget-body
              %table#ganadostable.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                %thead
                  %tr
                  %th Id
                  %th Nombre y Apellido
                  %th Dirección
                  %th Teléfono
                  %th Fecha de Conversión
                

              .clearfix
                %div
                  %form#form_grupo.form-horizontal{name: "form_grupo", method: "post"}
                    %input#nuevo{name: "nuevo", type: "hidden"}
                    %input#red{name: "red", type: "hidden"}

                    #showModal.modal.fade{'aria-hidden' => 'true',:tabindex => "-1"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{'aria-hidden' => 'true','data-dismiss' => 'modal', type: "button"}
                            %h4.modal-title Seleccionar Grupo 
                          .modal-body
                            .form-horizontal
                              %table#grupo_table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left 
                                %thead
                                  %tr
                                    %th{style: "width:10%"} #
                                    %th{style: "width:30%"} Nombre Grupo
                                    %th{style: "width:40%"} Responsable
                                    %th{style: "width:20%"} # miembros
                                %tbody
                                  
                              .clearfix
                          .modal-footer     
                            %button.btn.btn-default{'data-dismiss' => 'modal',type: "button"}              
                              Cancelar
                            %button.btn.btn-primary{type: "button"}              
                              Elegir

  #loader{style: "display:none"}
    = render "layouts/loader"
 
  / Row end
- content_for :bloquejavascript do
  = javascript_include_tag "custom-tables.js"
  / Editable Inputs 
  = javascript_include_tag "wysiwyg/bootstrap-wysihtml5.js"
  / Custom Js 
  = javascript_include_tag "wizard/bwizard.js"
  / custom Js
  = javascript_include_tag "custom-forms.js"
  = javascript_include_tag "jquery.blockUI.js"
  = javascript_include_tag "util/datatable_plugins.js"
  = javascript_include_tag :consolidacion  
  :javascript
    $('##{@mactive} > span').addClass('current-arrow');
