/ Dashboard wrapper start
.dashboard-wrapper
	/ Page title start
	.row.page-title
		%h2
			Árbol de Liderazgo
			%small
				%li Home
				%li /
				%li Información General
				%li /
				%li Niveles de la Organización
	/ Page title end
	/ Row start
	.row
		#accordion.col-md-12
			.widget
				.widget-header
					%a#agregar.btn.btn-primary.btn-block{"data-icon" => ""}
						Crear Nivel de la Organización
				#regniveles_org{style: "display:none"}                    
					.col-md-5.col-sm-5		
						.widget-header							 			
						%ol.tree
							%li
								%label{for: "folder1"}	Pastor Principal
								%input{type: "checkbox", :id => "folder1"}
									%ol
										%li
											%label{for: "subfolder1"}	Lider #1
											%input{type: "checkbox", :id => "subfolder1"}
											%ol 
												%li.file Supervisor#1
												%li.file Supervisor#2
										%li
											%label{for: "subfolder2"}	Lider #2
											%input{type: "checkbox", :id => "subfolder2"}
											%ol 
												%li.file Subfile 1
												%li.file Subfile 1									 
					.col-md-7.col-sm-7
						.widget-header
							.title 
								%span.fs1{"aria-hidden" => "true", "data-icon" => ""}
								Crear Nivel
						.widget-body          
							= form_tag("", {:method=>'post',:class=>'form-horizontal', :id => "form_nivelOrga", :name=> "form_nivelOrga"}) do   
								
								.form-group
									%label.col-lg-2.control-label{for: "persona"} Miembro
									%input{name: "persona_hidden", required: true, type: "hidden"}
									.col-lg-5
										%input#persona.form-control{name: "persona", type: "text"}                      
									%a.btn{'href' => '#showModal', 'data-toggle' => 'modal', "data-icon" => ""}
									#showModal.modal.fade{'aria-hidden' => 'true',:tabindex => "-1"}
										.modal-dialog
											.modal-content
												.modal-header
													%button.close{'aria-hidden' => 'true','data-dismiss' => 'modal', type: "button"}
													%h4.modal-title Buscar Responsable  
												.modal-body
													.form-horizontal
														%table#miembrotable.table.table-condensed.table-striped.table-hover.table-bordered.pull-left 
															%thead
																%tr
																	%th{style: "width:40%"} #
																	%th{style: "width:60%"} Nombres y Apellidos
															%tbody
																
														.clearfix
												.modal-footer     
													%button.btn.btn-default{'data-dismiss' => 'modal',type: "button"}              
														Cancelar
													%button.btn.btn-primary{type: "button"}              
														Guardar
									
								.form-group
									%label.col-lg-2.col-sm-2.control-label Tipo Nivel                           
									.col-lg-5.col-sm-5
										%select.form-control{name: "tipo_nivel"}
											%option{value: "0"} Pastor
											%option{value: "1"} Lider 12
											%option{value: "2"} Lider 144
											%option{value: "3"} Asesor

								.form-group									
									%label.col-lg-2.control-label{for: "persona"} Responsable
									%input{name: "persona_hidden", required: true, type: "hidden"}
									.col-lg-5
										%input#persona.form-control{name: "persona", type: "text"}                      
									%a.btn{'href' => '#showModal', 'data-toggle' => 'modal', "data-icon" => ""}
									#showModal.modal.fade{'aria-hidden' => 'true',:tabindex => "-1"}
										.modal-dialog
											.modal-content
												.modal-header
													%button.close{'aria-hidden' => 'true','data-dismiss' => 'modal', type: "button"}
													%h4.modal-title Buscar Responsable  
												.modal-body
													.form-horizontal
														%table#-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left 
															%thead
																%tr
																	%th{style: "width:40%"} #
																	%th{style: "width:60%"} Nombres y Apellidos
															%tbody
																
														.clearfix
												.modal-footer     
													%button.btn.btn-default{'data-dismiss' => 'modal',type: "button"}              
														Cancelar
													%button.btn.btn-primary{type: "button"}              
														Guardar
									
								.form-group
									.col-lg-offset-2.col-lg-10
										%button.cancelarGuardar.btn.btn-default{type: "button"} Cancelar
										%input#btnGuardar_Asistencia.btn.btn-success{type: "button", value: "Crear"}
		/ Row end
	/fin row
	.row
		.col-md-12
			.widget
				.widget-body{style:"border:none;"}
					.row
						.col-md-6.col-sm-6
							%button#registrar_miembro.btn.btn-primary.btn-block{type: "button"} 
								Generar Reporte 
						.col-md-6.col-sm-6
							%button#registrar_visitante.btn.btn-primary.btn-block{type: "button"} 
								Mostrar Nivel Jerarquico
	/ Row end
	/ Row start
	.row
		.col-md-12
			.widget
				.widget-header
					.title
						%span.fs1{"aria-hidden" => "true", "data-icon" => ""}
						Lista de Niveles Organización
				.widget-body
					.dt_example.example_alt_pagination
						%table#-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left 
							%thead
								%tr
									%th{style: "width:25%"} Niveles
									%th{style: "width:35%"} Reposnsables
									%th.hidden-phone{style: "width:15%"} Fecha Asignada
									%th.hidden-phone{style: "width:15%"} Estado
							%tbody
								
						.clearfix
	/ Row end
	#loader{style: "display:none"}
		= render "layouts/loader"
/ Dashboard wrapper end
/ Main Container end
- content_for :bloquejavascript do
	= javascript_include_tag "wizard/bwizard.js"
	= javascript_include_tag "custom-tables.js"
	= javascript_include_tag "wysiwyg/bootstrap-wysihtml5.js"
	= javascript_include_tag "custom-forms.js"
	= javascript_include_tag "jquery.blockUI.js"
	= javascript_include_tag "util/datatable_plugins.js"
	= javascript_include_tag :niveles_organizacion
	:javascript
		$('##{@mactive} > span').addClass('current-arrow');